h1
{
	color: #331832;
}

body
{
	background-color: #9fd8cb
}

button
{
    border-radius: 5px;
    background-color: #331832;
    color: #f5fbf9;
    height: 30px;
    width: 150px;
}
button:hover
{
	background-color: #ffff82;
	color: #331832;
}

#outer
{
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /*border: 1px solid black;*/
    padding: 10px;
}
#buttons
{
	display: flex;
	width:500px;
	justify-content: space-around;
}

#inner
{
	display: flex;
	height: 200px;
	background-color: #cae9e2;
	border-radius: 5px;
    width:600px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#output
{	
	display: flex;
	background-color: #f5fbf9;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width:500px;
    height: 40px;   
    border: 1px solid #83b1a7;
    border-radius: 5px;
    color: #331832;
}